@model ContactModels

@{
    ViewData["Title"] = "Details";
}



<div class="card border-primary mb-3 card-width" style="width:60%">
    <div class="card-header"><strong>Contact Details</strong></div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.lastName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.lastName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Status)
            </dd>
        </dl>
    </div>
    <div class="card-footer bg-transparent ">
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
</div>

